.main{
    display: flex;
    justify-content: first baseline;
    padding: 5px;
}
.song{
    display: grid;
    grid-template-columns :10fr 5fr 1fr;
    padding: 2em;
    background: #3C3F3C;
    box-shadow: -1px 0px 6px -1px #FFFCDD;
} 
#detail{
    margin-left: 20px;
}
i{
    margin-top: 10px;
} 
.song:hover{
    transform: translateY(2px);
    transition: ease-out 350ms;
    color: #FFFCDD;
}
h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
.play{
    transform: translateY(2px);
    transition: ease-out 350ms;
    color: #FFFCDD;
}